

<section class="container">
    <div class="flex flex-col gap-x-24 pt-5 md:flex-row">
        <div class="product__media-wrapper w-full md:w-1/2" id="product__media-{{ section.id }}">
            <div
                class="product__media-item"
                data-media-id="{{ section.id }}"
            >
                <div
                    class="product__media
                    style="padding-top: {% if media_ratio != blank %}{{ media_ratio }}{% else %}{{ 1 | divided_by: product.featured_media.aspect_ratio | times: 100 }}{% endif %}%;"
                >
                {%- capture sizes -%}
                (min-width: 1205px) {{ 1205 | times: 0.532 | round }}px, (min-width: 845px) calc((100vw - 8rem) / 2), (min-width: 750px) calc(100vw - 10rem), calc(100vw - 4rem)
                {%- endcapture -%}
                    {{ product.featured_media | image_url: width: 1851 | image_tag:
                    loading: lazy_load,
                    sizes: sizes,
                    widths: '246, 493, 642, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1851'
                    }}
                </div>
            </div>
        </div>
        <div class="product__info-wrapper flex-auto p-6 w-full md:w-1/2">
            <div id="productInfo-{{ section.id }}">
                {% for block in section.blocks %}
                    {%- case block.type -%}
                        {%- when '@app' -%}
                            {% render block %}
                        {%- when 'text' -%}
                            <p class="product__text">{{- block.settings.text -}}</p>
                        {%- when 'title' -%}
                            <h1 class="product__title pb-2 font-semibold text-lg lg:text-xl lg:pb-4">
                                {{ product.title | escape }}
                            </h1>
                        {%- when 'price' -%}
                            <div class="product-price no-js-hidden pb-2 font-semibold text-sm lg:text-lg lg:pb-4" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                                {{product.price | money}}
                            </div>
                        {%- when 'quantity_selector' -%}
                        <div class="product-form__input product-form__quantity flex items-center pb-4">
                            <label class="form__label font-semibold text-sm lg:text-base" for="Quantity-{{ section.id }}">
                            QUANTITY:
                            </label>
                            <quantity-input class="quantity flex items-center pl-3">
                            <button class="quantity__button no-js-hidden w-3 h-3" name="minus" type="button">
                                {% render 'icon-minus' %}
                            </button>
                            <input
                                class="quantity__input w-9 pl-3"
                                type="number"
                                name="quantity"
                                id="Quantity-{{ section.id }}"
                                min="1"
                                value="1"
                                form="{{ product_form_id }} disabled"
                            >
                            <button class="quantity__button no-js-hidden w-3 h-3" name="plus" type="button">
                                {% render 'icon-plus' %}
                            </button>
                            </quantity-input>
                        </div>
                        {%- when 'variant_picker' -%}
                            <div class="variants_wrapper">
                                {%- unless product.has_only_default_variant -%}
                                    {%- if block.settings.picker_type == 'button' -%}
                                    <variant-radios
                                        class="no-js-hidden"
                                        data-section="{{ section.id }}"
                                        data-url="{{ product.url }}"
                                        {{ block.shopify_attributes }}
                                    >
                                    {%- for option in product.options_with_values -%}
                                        <fieldset class="js product-form__input product-form__input--radio flex gap-x-4 pb-4">
                                            <legend class="form__label font-base pb-4">{{ option.name }}:</legend>
                                            {%- assign option_index = forloop.index0 -%}
                                            {%- assign values = '' -%}
                                            {%- for variant in product.variants -%}
                                            {%- assign value = variant.options[option_index] %}
                                            {%- unless values contains value -%}
                                                {%- assign values = values | join: ',' | append: ',' | append: value | split: ',' -%}
                                                <div class="variant__option">
                                                    <input
                                                    type="radio"
                                                    class="hidden peer sr-only"
                                                    id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                                    name="{{ option.name }}"
                                                    value="{{ value | escape }}"
                                                    form="{{ product_form_id }}"
                                                    {% if option.selected_value == value %}
                                                        checked
                                                    {% endif %}
                                                    >
                                                    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="rounded-lg cursor-pointer flex p-2 items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                                                            <span class="variant-field__name">{{ value }}</span>
                                                            {%- if variant.metafields.duo.variant_details != blank -%}
                                                            <span class="variant-field__details">{{ variant.metafields.duo.variant_details }}</span>
                                                            {%- endif -%}
                                                        </span>
                                                    </label>
                                                </div>
                                            {%- endunless -%}
                                        {%- endfor -%}
                                        </fieldset>
                                    {%- endfor -%}
                                    <script type="application/json">
                                        {{ product.variants | json }}
                                    </script>
                                    </variant-radios>
                                    {%- else -%}
                                    <variant-selects
                                        class="no-js-hidden"
                                        data-section="{{ section.id }}"
                                        data-url="{{ product.url }}"
                                        {{ block.shopify_attributes }}
                                        >
                                        {%- for option in product.options_with_values -%}
                                        <div class="product-form__input product-form__input--dropdown">
                                        <label class="form__label " for="Option-{{ section.id }}-{{ forloop.index0 }}">
                                            {{ option.name }}
                                        </label>
                                        <div class="select">
                                            <select
                                            id="Option-{{ section.id }}-{{ forloop.index0 }}"
                                            class="select__select"
                                            name="options[{{ option.name | escape }}]"
                                            form="{{ product_form_id }}"
                                            >
                                            {%- for value in option.values -%}
                                            <option
                                            value="{{ value | escape }}"
                                            {% if option.selected_value == value %}
                                                selected="selected"
                                            {% endif %}
                                            >
                                            {{ value }}
                                            </option>
                                            {%- endfor -%}
                                            </select>
                                            {% render 'icon-caret' %}
                                        </div>
                                        </div>
                                        {%- endfor -%}

                                        <script type="application/json">
                                        {{ product.variants | json }}
                                        </script>
                                    </variant-selects>
                                    {%- endif -%}
                                {%- endunless -%}
                                <noscript class="product-form__noscript-wrapper-{{ section.id }}">
                                    <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                                        <label class="form__label" for="Variants-{{ section.id }}">
                                        {{- 'products.product.product_variants' | t -}}
                                        </label>
                                        <div class="select">
                                        <select
                                        name="id"
                                        id="Variants-{{ section.id }}"
                                        class="select__select"
                                        form="{{ product_form_id }}"
                                        >
                                        {%- for variant in product.variants -%}
                                        <option
                                            {% if variant == product.selected_or_first_available_variant %}
                                            selected="selected"
                                            {% endif %}
                                            {% if variant.available == false %}
                                            disabled
                                            {% endif %}
                                            value="{{ variant.id }}"
                                        >
                                            {{ variant.title }}
                                            {%- if variant.available == false %} Sold Out{% endif %}
                                            - {{ variant.price | money | strip_html }}
                                        </option>
                                        {%- endfor -%}
                                        </select>
                                        </div>
                                    </div>
                                </noscript>
                            </div>
                        {%- when 'buy_buttons' -%}
                            <div class="product-form__wrapper" {{ block.shopify_attributes }}>
                                <product-form class="product-form">
                                    <div class="product-form__error-message-wrapper" role="alert" hidden>
                                    <svg
                                        aria-hidden="true"
                                        focusable="false"
                                        role="presentation"
                                        class="icon icon-error"
                                        viewBox="0 0 13 13"
                                    >
                                        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                        <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                                    </svg>
                                    </div>

                                    {%- form 'product',
                                    product,
                                    id: product_form_id,
                                    class: 'form',
                                    novalidate: 'novalidate',
                                    data-type: 'add-to-cart-form'
                                    -%}
                                    <input
                                        type="hidden"
                                        name="id"
                                        class="variant-id__form"
                                        value="{{ product.selected_or_first_available_variant.id }}"
                                    >
                                    <div class="product-form__buttons">
                                        <button
                                        type="submit"
                                        name="add"
                                        class="product-form__submit cursor-pointer bg-slate-900 text-sm text-white p-2"
                                        {% if product.selected_or_first_available_variant.available == false %}
                                            disabled
                                        {% endif %}
                                        >
                                            <span>
                                                {%- if product.selected_or_first_available_variant.available -%}
                                                Add to cart
                                                {%- else -%}
                                                Sold out
                                                {%- endif -%}
                                            </span>
                                            <div class="loading-overlay__spinner hidden">
                                                <svg
                                                aria-hidden="true"
                                                focusable="false"
                                                role="presentation"
                                                class="spinner"
                                                viewBox="0 0 66 66"
                                                xmlns="http://www.w3.org/2000/svg"
                                                >
                                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                </svg>
                                            </div>
                                        </button>
                                    </div>
                                    {%- endform -%}
                                </product-form>
                            </div>
                    {%- endcase -%}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>


{% schema %}
    {
        "name": "main product",
        "class": "main_product",
        "settings": [
            
        ],
        "blocks": [
            {
                "type": "@app"
            },
            {
                "type": "text",
                "name": "Text",
                "settings": [
                    {
                        "type": "text",
                        "id": "text",
                        "default": "Text block",
                        "label": "Text"
                    }
                ]
            },
            {
                "type": "title",
                "name": "title",
                "limit": 1,
                "settings": [
                    
                ]
            },
            {
                "type": "price",
                "name": "price",
                "limit": 1
            },
            {
                "type": "quantity_selector",
                "name": "quantity_selector",
                "limit": 1
            },
            {
                "type": "variant_picker",
                "name": "variant_picker",
                "limit": 1,
                "settings": [
                    {
                    "type": "select",
                    "id": "picker_type",
                    "options": [
                        {
                            "value": "dropdown",
                            "label": "dropdown"
                        },
                        {
                            "value": "button",
                            "label": "button"
                        }
                    ],
                        "default": "button",
                        "label": "button"
                    }
                ]
            },
            {
                "type": "buy_buttons",
                "name": "buy_button",
                "limit": 1,
                "settings": [
                    {
                        "type": "checkbox",
                        "id": "show_dynamic_checkout",
                        "default": true,
                        "label": "Buy Button"
                    }
                ]
            }
        ]
    }
{% endschema %}
